.title{
    text-align: center;
    padding: 30px;
    margin-bottom: 100px;
    /*color: blue;*/
    background-color: dimgrey;
    color: white;
}

.info{
    text-align: center;
    padding: 30px;
}
