@(repoContent: List[RepoContent], username:String, repoName: String)

@main("GitHub User") {
    <div class="title">
        <h1>Names of files & folders </h1>
    </div>
    <div class="repos">
    @for(con <- repoContent) {
        <p><a href="@routes.ApplicationController.getFileOrDirContent(username, repoName, con.name)">@con.name</a></p>
    }
    </div>
    <div class="btn-container">
        <a class="btn" href="@routes.ApplicationController.getUserRepos(username)">
            Back
        </a>
    </div>
}