@import models.UpdatedFile
@import helper._

@(fileForm: Form[UpdatedFile], username: String, repoName: String, file_path:String, file:FileContent)(implicit request: RequestHeader, messages: Messages)
@main("Update File"){
    <h1>Update File</h1>
    <h2>@file.name</h2>
    <div>
    @helper.form(action = routes.ApplicationController.editFileForm(username, repoName, file_path), Symbol("method") -> "POST") {
        @helper.CSRF.formField
@*        <label for="path">sha </label>*@
        @helper.inputText(fileForm("sha"), Symbol("_label") -> "", Symbol("type") -> "hidden")
        <label for="path">Message </label>
        @helper.inputText(fileForm("message"), Symbol("_label") -> "")
        <label for="path">Content </label>
        @helper.inputText(fileForm("content"), Symbol("_label") -> "", Symbol("value") -> file.content)
        <input class="submitButton" type="submit" value="Submit">
        }
    </div>
}